@model List<ProjectViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@{
    bool? isAlreadyMember = TempData["isAlreadyMember"] as bool?;
}

<!--Projekt Content-->
<div class="container">

    <h2 class="d-block d-lg-none">PROJEKT</h2>


    <h4 class="d-block d-lg-non">@ViewBag.Meddelande</h4>

  <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Skapad Av</th>
                    <th scope="col">Projekt Namn</th>
                    <th scope="col">Beskrivning</th>
                    <th scope="col">StartDatum</th>
                    <th scope="col">SlutDatum</th>
                    <th scope="col">Antal medverkande</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var prod in Model)
            {
                    <tr>
                    <td scope="col">@prod.CreatedByUser</td>
                    <td scope="col">@prod.ProjectName</td>
                    <td scope="col">@prod.Description</td>
                    <td scope="col">@prod.Startdate</td>
                    <td scope="col">@prod.Enddate</td>
                    <td scope="col">@prod.MaxPeople/5</td>

                    @if (User.Identity.IsAuthenticated)
                    {
                        
                        <form method="post" asp-controller="Projekt" asp-action="JoinProject">
                           <input type="hidden" name="projectId" value="@prod.ProjectId" />
                           <td> <button class="btn btn-primary" type="submit">Gå med</button> </td>
                        </form>
                        
                        @if (prod.CreatedBy == ViewBag.LoggedIn)
                        {
                        <form method="post" asp-controller="Projekt" asp-action="RemoveProject">
                           <input type="hidden" name="projectId" value="@prod.ProjectId" />
                           <td> <button class="btn btn-primary" type="submit">Ta Bort</button> </td>
                        </form>

                        <td>
                           <a class="btn btn-primary" href="@Url.Action("IndexEdit", "Projekt", new { projectId = prod.ProjectId })">Redigera</a>
                        </td>
                        }
                    }
                </tr>  
            }
            </tbody>
  </table>

    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Index2", "Projekt")" class="btn btn-primary p">Skapa nytt projekt</a>
    }

</div>
