@model ProjectViewModel
@{
    ViewData["Title"] = "Mitt CV";
}

<div class="container-fluid p-0 m-2">
   
    <h1 class="mb-0">@Model.CreatedByUser<span style="color:#6CBAD9;">'S PROJEKT</span></h1>


    <div class="subheading alert-secondary">

    <h3 style="color: #D98B6C">

        @Model.ProjectName

    </h3>

    </div

    <div class="subheading mb-5">
        <h2 class="mb-5">Beskrivning</h2>
        @Model.Description
    </div>

    <div class="subheading mb-5">
        <h2 class="mb-5">Varaktighet</h2>
        @Model.Startdate - @Model.Enddate
    </div>

    <div class="subheading mb-5">
        <h2 class="mb-5">Deltagare<span style="color:#D98B6C; font-size: small;""> kan finnas dolda medlemmar</span></h2>
        @foreach (ProjectMembers p in Model.ProjectMembers)
        {
                    @if ((p.User.ProfileAccess && p.User.Active) || (User.Identity.IsAuthenticated && p.User.Active))
                    {
                        <img src="@Url.Action("UserImage", "Profile", new { userId = p.User.Id })" class="rounded-circle mr-1" alt="@p.User.Firstname @p.User.Lastname" width="40" height="40">
                        <span>@p.User.Firstname @p.User.Lastname</span>
                    } 
        }
    </div>

</div>