@model AppUser




<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">

            @if (Model.fkPicture != null && !string.IsNullOrEmpty(Model.fkPicture.Filename))
            {
                <img class="img-thumbnail border border-0 w-50 float-end" src="@Url.Content(Model.fkPicture.Filename)" />
            }
            else
            {
                <img class="img-thumbnail border border-0 w-50 float-end" src="@Url.Content(ViewBag.defaultPicturePath)" />
            })

            
            <h1 class="mb-0">
                @Model.Firstname
                <span class="text-primary">@Model.Lastname</span>
            </h1>
            <div class="subheading mb-5">
                @Model.fkAddress.Street · @Model.fkAddress.City · @Model.fkAddress.Street · @Model.Phonenr
                
                <a href="mailto:name@email.com">@Model.Email</a>
            </div>
            <p class="lead mb-5">@Model.userCV.Summary</p>
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Erfarenheter</h2>   
            @foreach (var experience in Model.userCV.Experiences)
            {
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
               
                    <h3 class="mb-0">@Model.userCV.Experiences.First().Position</h3>
                        <div class="subheading mb-3">@Model.userCV.Experiences.First().Employer</div>
                        <p>@Model.userCV.Experiences.First().Description</p>
                </div>
                    <div class="flex-shrink-0 align-items-end"><span class="text-primary"> Startdatum @Model.userCV.Experiences.First().StartDate <br />
                        Slutdatum @Model.userCV.Experiences.First().EndDate</span></div>

            </div>

            }
            
          
           
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Utbildning</h2>
            @foreach (var education in Model.userCV.Educations)
            {
                 <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@Model.userCV.Educations.First().Institution</h3>
                    <div class="subheading mb-3">@Model.userCV.Educations.First().Course</div>
                
                    <p>@Model.userCV.Educations.First().Degree</p>
                </div>
                    <div class="flex-shrink-0"><span class="text-primary"> Startdatum @Model.userCV.Educations.First().StartDate <br /> Slutdatum @Model.userCV.Educations.First().EndDate </span></div> <br>
            </div>
            }
           
           
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Färdigheter</h2>
            <div class="subheading mb-3">@Model.userCV.Qualifications.First().QName</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    @Model.userCV.Qualifications.First().Description
                </li>
            
               
            </ul>
            
          
         
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Intressen</h2>
           
            <p class="mb-0">@Model.userCV.PersonalLetter</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Google Analytics Certified Developer
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Mobile Web Specialist - Google Certification
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2009
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2008
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    3
                    <sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005
                </li>
            </ul>
        </div>
    </section>
</div>