@model MessageServiceModel

@if (Model.messagesObjects != null && Model.messagesObjects.Any())
{
	<!--Visa upp användaren man chattar med-->
				<div class="col-12 col-lg-7 col-xl-9" id="conversation">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img src='@Url.Action("UserImage", "Profile", new { userId = Model.receiver.Id })' class="rounded-circle mr-1" alt="@Model.receiver.Firstname" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3">
								<strong>@Model.receiver.Firstname @Model.receiver.Lastname</strong>
								<div class="text-muted small"><em>Chatta med @Model.receiver.Firstname</em></div>
							</div>
						</div>
					</div>
				</div>


			<!-- Meddeland delen -->
			<div class="position-relative" >
				<div class="chat-messages p-4" id="messageContainer">

					<!-- Specifikt meddelande -->
					@foreach(var message in Model.messagesObjects)
					{
						<div class="@message.classCss pb-4">
							<div>
								<img src='@Url.Action("UserImage", "Profile", new { userId = message.fkFromUser.Id })' class="rounded-circle mr-1" alt="@message.MessageName" width="40" height="40">
								<div class="text-muted small text-nowrap mt-2">@message.Datum</div>
							</div>
							<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
								<div class="font-weight-bold mb-1">@message.MessageName</div>
								@message.Text

								<br />
							</div>
						@if(message.ViewStatus == false && message.fkFromUser == Model.receiver)
						{
						<button type="button" onclick="readMessage('@message.MessageId')" class="btn btn-secondary btn-sm readMessage-div" data-message-id=@message.MessageId>Markera Läst</button>
						}
					</div>
					}
				</div>
			</div>
			


	<!-- Skriv meddelande -->
	@if (Model.receiver != null)
	{
		<div class="flex-grow-0 py-3 px-4 border-top">
			<div class="input-group">
					<input type="text" class="form-control" placeholder="Skriv ditt meddelande" id="Newmessage" />
				<button type="button" onclick="sendMessage()" class="btn btn-primary receiver_user-div" data-user-id=@Model.receiver.Id>Skicka</button>
			</div>
		</div>
	}
			
}