@model MessageServiceModel

<div class="col-12 col-lg-7 col-xl-9" id="conversation">
	<div class="py-2 px-4 border-bottom d-none d-lg-block">
		<div class="d-flex align-items-center py-1">
			<div class="flex-grow-1 pl-3">
				<strong>@Model.UnknonwMessages.First().UnknownUser</strong>
				<div class="text-muted small"><em>Chatta med @Model.UnknonwMessages.First().UnknownUser</em></div>
			</div>
		</div>
	</div>
</div>


<!-- Meddeland delen -->
<div class="position-relative">
	<div class="chat-messages p-4" id="messageContainer">

		<!-- Specifikt meddelande -->
		@foreach (var message in Model.UnknonwMessages)
		{
			<div class="chat-message-left pb-4">
				<div>
					<div class="text-muted small text-nowrap mt-2">@message.Datum</div>
				</div>
				<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
					<div class="font-weight-bold mb-1 unknownID" data-unknown-id="@($"{message.UnknownUser}{message.Text.GetHashCode()}")">
						<strong>@message.UnknownUser</strong>
					</div>
					@message.Text

					<br />
					<button type="button" class="btn-close" aria-label="Close"></button>
				</div>
				@if (message.ViewStatus == false)
				{
					<button type="button" onclick="readMessage('@message.MessageId')" class="btn btn-secondary btn-sm readMessage-div" data-message-id=@message.MessageId>Markera Läst</button>
				}
				</div>
		}
	</div>
</div>