@{
    ViewData["Title"] = "Index";
}
@model List<CV>
<!-- Header för startsidan-->
<div class="jumbotron jumbotron-fluid pt-0">
        <img class="img-fluid" src="~/datafiles/pictures/logobluelarge.png" />
 </div>

<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-evenly align-items-center">
            <h3 class="mb-3">Sök på cv</h3>
            <form method="post" action="@Url.Action("Index", "Home")">
                <div class="input-group mb-3 cvsearch-input">
                    <input type="text" name="search" class="form-control flex-grow-1" placeholder="Sök på användares namn" aria-label="Sökning" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Sök</button>
                </div>
            </form>

        </div>

    </div>

</section>

<!-- About-->
<section class="resume-section pb-4" id="about">
    <div class="resume-section-content">
        <div class="subheading mb-5 p-5">
            <h2>Se senaste cv på sidan</h2>
            <div class="row align-items-center pt-3">
                @foreach(var cv in Model)
                {
                    <div class="col card m-3 bg-info">
                        <h3>@cv.fkUser.Firstname @cv.fkUser.Lastname</h3>
                        <h4>@cv.Summary</h4>
                        <h5>Detta är mina kompetenser</h5>
                        <p>@cv.Experiences.First().Description Employer: @cv.Experiences.First().Employer</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="jumbotron" >
        <h1 class="display-4">Senaste upplagda projektet</h1>
        <p class="lead">@ViewBag.Project.ProjectName</p>
        <hr class="my-4">
        <p>@ViewBag.Project.Description</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Gå med i projektet</a>
        </p>
    </div>

</section>

